body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: "Merriweather",serif;
    /* background-color: #D3DEDC;     */
    /* font-size: 200%; */
}

h1{
    /* margin-top: 0; */
    color: #8E806A;
    font-size: 5.625rem;
    /* line-height: 2; */
    /* width: 10%; */
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2{
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    color: #8E806A;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    color: #8E806A;
    font-family: "Montserrat",sans-serif;
}

p{
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #7C99AC;
    border-width: 10px;
    width: 5%;
}

a{
    font-family: "Montserrat",sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #FFF8F3;    
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin-top: 100px ;
    /* background-color: #BAABDA; */
}

.last-container{
    background-color: #F2FFE9;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.pro{
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
  

#proo{
    color: #8E806A;
    font-size: 200%;
    }

/* div{
    background-color: #96CEB4;
} */

.gif{
    width:150px;
  height:150px;
  object-fit:cover;
  border-radius:50%;
  float: left;
  margin-right: 30px;
}

.comp{
     width:150px;
  height:150px;
  object-fit:cover;
  border-radius:50%;
  float: right;
  margin-left: 30px;
}

/* .gif{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.comp{
    width: 25%;
  float: right;
  margin-left: 30px;
} */

/* .skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
} */

  /* .intro{
      margin: 12%;
      width: auto;
  } */

  
  .copyright{
      color: #8E806A;
      font-size: 1.0rem;
      padding: 20px 0;
  }